.draft-js {
  border: 1px solid #eee;
}
.draft-js .public-DraftEditor-content,
.draft-js .public-DraftEditorPlaceholder-root {
  padding: 15px;
}
.draft-js .DraftEditor-root {
  border-top: 1px solid #eee;
}
.draft-js .rdw-editor-toolbar {
  border: none;
}
